name: Deploy GitHub Pages

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - uses: actions/jekyll-build-pages@v1

      - uses: actions/upload-pages-artifact@v3
        with:
          path: ./_site

      - uses: actions/deploy-pages@v4
